/* Centered text */

.instagram_photos {
  padding: 0;
}

html {
  background: #fff;
}
body {
  background: #fff;
}

.styledButton {
  padding: 21px 34px 21px 34px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: proxima-nova;
  color: black;
  border: 2px solid;
  border-color: black;
  background-color: transparent;
  transition-duration: 0.3;
  border-radius: 5px;
}

.styledButton:hover {
  padding: 21px 34px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: proxima-nova;
  color: white;
  border: 2px solid;
  border-color: black;
  background-color: black;
  transition-duration: 0.3;
  border-radius: 3px;
}

.example {
  font-size: 50px;
  color: red;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
} */
