/* Centered text */

.instagram_photos {
  padding: 0;
}

html {
  background: #fff;
}
body {
  background: #fff;
}

.styledButton {
  padding: 21px 34px 21px 34px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: proxima-nova;
  color: black;
  border: 2px solid;
  border-color: black;
  background-color: transparent;
  transition-duration: 0.3;
  border-radius: 5px;
}

.styledButton:hover {
  padding: 21px 34px;
  text-transform: uppercase;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  font-family: proxima-nova;
  color: white;
  border: 2px solid;
  border-color: black;
  background-color: black;
  transition-duration: 0.3;
  border-radius: 3px;
}

.example {
  font-size: 50px;
  color: red;
}

h1,
h2,
h3 {
  text-rendering: optimizeLegibility;
}

/*---------------*/
/***** Lily *****/
/*---------------*/

.figure .effect-lily h2 {
  word-spacing: -0.15em;
  font-weight: 800;
  text-transform: uppercase;
}

.figure .effect-lily {
  width: 1000;
}

.figure .effect-lily .image {
  max-width: none;
  /* width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px); */
  opacity: 0.8;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  /* -webkit-transform: translate3d(-40px, 0, 0); */
  /* transform: translate3d(-40px, 0, 0); */
}

.figure .effect-lily figcaption {
  text-align: left;
}

.figure .effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 50%;
}

.figure .effect-lily h2,
.figure .effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.figure .effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.figure .effect-lily p {
  /* color: rgba(255, 255, 255, 0.8); */
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

.figure .effect-lily:hover .image {
  opacity: 0.7;
}

.figure .effect-lily:hover h2,
.figure .effect-lily:hover p {
  opacity: 1;
}

.figure .effect-lily:hover .image,
.figure .effect-lily:hover h2,
.figure .effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.figure .effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}

/* *:not(path):not(g) {
  color: hsla(210, 100%, 100%, 0.9) !important;
  background: hsla(210, 100%, 50%, 0.5) !important;
  outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;
  box-shadow: none !important;
} */
